
{include="header"}

{if="$fsc->editar"}

<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        
        <li role="presentation" class="active">
         <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="hidden-xs">&nbsp; Datos Generales</span>
            
         </a>
      </li>
            
        {loop="$fsc->extensions"}
            {if="$value->type=='tab'"}
            <li role="presentation">
               <a href="#ext_{$value->name}" aria-controls="ext_{$value->name}" role="tab" data-toggle="tab">{$value->text}</a>
            </li>
            {/if}
        {/loop}
        
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">

            <form class="form" action="{$fsc->url()}" enctype="multipart/form-data" method="post">
                <div class="panel panel-info" style="margin-left: 5px; margin-right: 5px;">
                    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Id Averia</label>
                                        <input type="text" value="{$fsc->editar->idaveria}" name="idaveria" id="idaveria" class="form-control" readonly="readonly">
                                    </div> 
                                </div>

                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <label>Id Aparato</label>
                                        <input type="text" value="{$fsc->editar->idaparato}" name="idaparato" id="idaparato" class="form-control" readonly="readonly">
                                    </div> 
                                </div>
                                
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>Aparato</label>
                                        <input type="text" value="{$fsc->editar->marca}--{$fsc->editar->modelo}--{$fsc->editar->chasis}" name="aparato" id="aparato" class="form-control" readonly="readonly">
                                    </div> 
                                </div>
                                
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Usuario</label>
                                        <input type="text" value="{$fsc->editar->usuario}" name="usuario" id="usuario" class="form-control" readonly="readonly">
                                    </div> 
                                </div>
                                
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Sección</label>
                                        <input type="text" value="{$fsc->editar->familia}" name="seccion" id="seccion" class="form-control" readonly="readonly">
                                    </div> 
                                </div>

                                
                            </div>
                            <div class="col-sm-12">
                                
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        Sintoma
                                        <textarea name="sintoma" rows="6" id="sintoma" class="form-control" readonly="readonly">{$fsc->editar->sintoma}
                                        </textarea>       
                                        </div> 
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        Solucion
                                        <textarea name="solucion" rows="6" id="solucion" class="form-control" readonly="readonly">{$fsc->editar->solucion}
                                        </textarea>       
                                    </div> 
                                </div>
                                {if="$fsc->editar->enlace"}
                                    <div class="form-group">
                                        <label>Enlace</label>
                                        <a href="{$fsc->editar->enlace}" target="_blank" title="Se abre en una pestaña aparte">Abrir enlace</a>
                                    </div>
                                {/if}
                            </div>
                            
                        </div>    
                    </div>
                </div>
            </form>
        </div>
        {loop="$fsc->extensions"}
        {if="$value->type=='tab'"}
            <div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
                <iframe src="index.php?page={$value->from}{$value->params}&id={$fsc->editar->idaveria}" width="100%" height="2000" frameborder="0"></iframe>
            </div>
        {/if}
        {/loop}
        

    </div>   
</div>




{/if}

{include="footer"}
