{include="header"}

<script type="text/javascript">
    $(document).ready(function() {
      /* Todo lo que metas aquí es equivalente a un evento onload() */
      document.getElementById('marca').focus(); //lleva el foco al campo indicado            
   });
</script>

<form class="form" action="{$fsc->url()}" enctype="multipart/form-data" method="post" >
    <div class="panel panel-info" style="margin-left: 5px; margin-right: 5px;">
        <div class="panel-heading">
        <h3 class="panel-title">Nueva Marca</h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-sm-8">
                  <div class="form-group">
                    <label>Marca</label>
                    <input type="text" name="marca" id="marca" class="form-control" placeholder="Introducir nueva Marca" required="required">
                  </div>
                  <div class="form-group">
                    <label>Descripción</label>
                    <textarea class="form-control" name="descripcion" rows="3" placeholder="Comentario sobre la marca"></textarea>
                  </div>
                    <div class="form-group">
                    <label>Web</label>
                    <input type="text" class="form-control" name="web" placeholder="Página web del la marca">
                  </div>
                   <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Correo electrónico de ésta marca">
                  </div>
                </div> 
                <div class="col-sm-4" style="margin-top: 25px;">  
                  <div class="panel panel-default" style="height: 335px;">
                       <div class="panel-heading">
                          <h3 class="panel-title">Añadir una imagen</h3>
                       </div>
                    <div class="panel-body"> 
                          <div class="form-group">
                            <input type="file" name="logo" class="file" accept="image/gif, image/jpeg, image/png">
                            <p class="help-block">El tamaño máximo de la imágen es de 15kb.</p>
                          </div>
                     </div>
                  </div>
                </div>    

            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    &nbsp; Guardar
            </button>
        </div>    
    </div>
</form>    

   
{include="footer"}
